// stylelint-disable declaration-no-important
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$def-size: 1;

$text-sizes: (
  1: ($def-size * .5),
  2: ($def-size * .75),
  3: $def-size,
  4: ($def-size * 1.25),
  5: ($def-size * 1.5)
);
//
// Text
//

// Size
@each $key, $size in $text-sizes {
  .font-size-#{$key} {
    font-size: #{$size}rem !important;
  }
}

// Alignment

.text-justify  { text-align: justify !important; }
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

// Wrap, truncate, break

.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.text-break    { word-wrap: break-word !important; }

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-light  { font-weight: $font-weight-light !important; }
.font-weight-normal { font-weight: $font-weight-normal !important; }
.font-weight-bold   { font-weight: $font-weight-bold !important; }
.font-italic        { font-style: italic !important; }

// Decoration none

.text-decoration-none { text-decoration: none!important; }

// Colors

@each $theme, $color in $theme-colors {
  .text-#{$theme} {
    color: $color;
  }
}



